.gate{
    position: absolute;
}
.gates-or{
    background-color: #f00;
    height: 25px;
    width: 90px;
    border: 5px solid black;

}
.gates-and{
    background-image: url('/public/assets/and_gate.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.gates-not{
    background-image: url('/public/assets/not_gate.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}
.gates-xor{
    background-image: url('/public/assets/xor_gate.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}
.gates-nand{
    background-image: url('/public/assets/nand_gate.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}
.gates-nor{
    background-image: url('/public/assets/nor_gate.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}
.gates-xnor{
    background-image: url('/public/assets/xnor_gate.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}
.gate-inner{
    font-size: 14px;
    text-align: center;
}

.gateImage{
    width: 100px;
    height: 80px;
}
.selectedGate{
    border: 2px solid #00FF00;
}